:root {
    --var-main-square: 20rem;
    --var-main-square-number: 12rem;
    --var-divider-length: 4rem;
}


.inCard {
    position: relative;
    display: none;
    z-index: 10000;
    /* transition: 0.3s all;
    transition-delay: 0.5s; */
}


.mainCard {
    width: var(--var-main-square);
    height: var(--var-main-square);
    z-index: 5;
}

.horizDivSqaure {
    width: var(--var-main-square-number);

    /* height: var(--var-main-square); */
}

.mainCardNumber {
    width: var(--var-main-square-number);
    height: var(--var-main-square-number);
    /* transition: 0.1s all cubic-bezier(0.165, 0.84, 0.44, 1); */
    transition: 0.01s all ease-out;
    transition-delay: 0.3s;
}


.mainCardNumber:hover {
    /* background: gray; */
    transform: scale(1.05);
    border-radius: 50%;
    /* transition: 0.1s border-radius ease-out; */

}


.dividerCards {
    width: 0.1rem;
    height: var(--var-divider-length);
    border-radius: 50%;
    background: rgb(140, 140, 140);
}

.horizDividerCards {
    width: var(--var-divider-length);
    height: 0.2rem;
    border-radius: 50%;
    background: rgb(204, 204, 204);
}

.hoverCard {
    display: flex;
    animation: openCard 0.3s normal cubic-bezier(0.075, 0.25, 0.75, 1);
    z-index: 10000;
    /* animation-delay: 0.5s; */
}

.openCard {
    display: flex;
}

@keyframes openCard {
    0% {
        display: none;
        opacity: 0;
        color: black;
        z-index: 10000;
    }

    1% {
        display: flex;
        opacity: 0;
        transform: scale(5);
    }

    /* 99% {
        opacity: 0.5;
        transform: scale(2);
    } */

    100% {
        opacity: 1;
        transform: scale(1);
        color: white;
    }
}